body.dark-mode {
  background-color: var(--black);
  color: var(--white);
}
body.dark-mode a {
  color: var(--white);
}

body.dark-mode code {
  background-color: var(--gray-dark);
}

body.dark-mode .invalid {
  color: var(--white);
}
body.dark-mode .valid {
  color: var(--gray-dark);
}
body.dark-mode .valid.first-guess {
  color: var(--base-color2);
}

body.dark-mode header,
body.dark-mode button {
  color: var(--white);
}

body.dark-mode button.help {
  background-color: var(--black);
  border: 1px solid var(--white);
}

body.dark-mode header .menu-left #nav-overlay #nav-content {
  background-color: var(--black);
}
body.dark-mode header .menu-left #nav-overlay #nav-content a {
  color: var(--white);
}
body.dark-mode
  header
  .menu-left
  #nav-overlay
  #nav-content
  .container
  .nav-list
  a:hover {
  background-color: var(--base-color);
}

body.dark-mode .tile[data-state="tbd"] {
  background-color: var(--black);
  border: 2px solid var(--gray-dark);
  color: var(--white);
}
body.dark-mode .tile[data-state="tbd"]:hover {
  background-color: #5c7c4f;
}
body.dark-mode .tile[data-state="selected"] {
  background-color: #5c7c4f;
  border: 2px solid var(--white);
}

body.dark-mode section#game #mode-container .setting-row a {
  color: var(--white);
}

body.dark-mode section#game #mode-container #daily-details {
  color: var(--white);
}

body.dark-mode section#game #guess-container #guess {
  color: var(--white);
}

body.dark-mode section#game #hint-container #hint-arena button#button-hint,
body.dark-mode
  section#game
  #hint-container
  #hint-arena
  button#button-hint-reset {
  background-color: var(--black);
  color: var(--white);
}
body.dark-mode
  section#game
  #hint-container
  #hint-arena
  button#button-hint:hover,
body.dark-mode
  section#game
  #hint-container
  #hint-arena
  button#button-hint-reset:hover {
  background-color: var(--gray-dark2);
}

body.dark-mode section#game #keyboard-container button {
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
}

body.dark-mode section#game #keyboard-container .row:last-of-type button {
  background-color: var(--black-light);
  border: 1px solid var(--gray);
  color: var(--white);
}
body.dark-mode
  section#game
  #keyboard-container
  .row:last-of-type
  button:disabled {
  background-color: var(--gray-dark);
  border: 1px solid var(--gray-medium);
  color: var(--gray-medium);
}
body.dark-mode
  section#game
  #keyboard-container
  .row.sub
  button:hover:not([disabled]) {
  background-color: var(--gray-dark2);
  border: none;
  color: var(--white);
}

body.dark-mode #settings .setting-row .text .description {
  color: var(--gray);
}

body.dark-mode .switch {
  background-color: var(--gray-dark);
}
body.dark-mode .switch[data-status="true"] {
  background-color: var(--base-color);
}

body.dark-mode .modal-window {
  background-color: var(--black);
}
body.dark-mode .modal-dialog.temp .modal-window {
  background-color: var(--black);
  border-color: var(--white);
  color: var(--white);
}
body.dark-mode .modal-text {
  background-color: var(--black);
  color: var(--white);
}
body.dark-mode .modal-text ul li span.solution-category + ul {
  background-color: var(--marker-color);
  color: var(--white);
}
body.dark-mode .modal-button-group {
  background-color: var(--black);
}
