/* green: #529952 */
/* debug: #715ec7 */

* {
  margin: 0;
  padding: 0;
}

html {
  /* whole viewport minus neb.host footer */
  height: calc(100% - 40px);
}

body {
  background-color: #fff;
  color: #111;
  font-family: 'Changa', sans-serif;
  font-size: 16px;
  font-size-adjust: 0.5;
  font-weight: 300;
  height: 100%;
  line-height: 1.3;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
}

code {
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  display: inline-block;
  padding: 0 3px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

hr {
  margin: 1em 0;
}

button {
  align-items: center;
  background-color: #ddd;
  border: 0;
  border-radius: 4px;
  color: #111;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-family: inherit;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  margin: 0 6px 0 0;
  padding: 0;
  text-transform: uppercase;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}
  button:disabled {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
  }

  button.icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0 4px;
  }
    button.icon:hover {
      color: #529952;
    }

.debug {
  color: #715ec7;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0;
}
.row {
  touch-action: manipulation;
}

.tile {
  --animate-duration: 100ms;
  align-items: center;
  border: 2px solid transparent;
  box-sizing: border-box;
  color: #364333;
  display: inline-flex;
  font-size: 3rem;
  font-weight: bold;
  justify-content: center;
  line-height: 2rem;
  vertical-align: middle;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}
@media (max-height: 600px) {
  .tile {
    font-size: 2rem;
  }
}
  .tile[data-state='tbd'] {
    border: 2px solid #7b986f;
    cursor: pointer;
  }
  .tile[data-state='tbd']:hover {
    background-color: #6dc96d;
    border: 2px solid #333;
    color: #fff;
  }
  .tile:disabled,
  .tile[data-state="disabled"] {
    background-color: #eee;
    border: 2px solid #eee;
    color: #ddd;
    cursor: not-allowed;
  }
  .tile[data-state='selected'] {
    background-color: #529952;
    border: 2px solid #333;
    color: #fff;
  }

/*
 * HEADER
 */
header {
  align-items: center;
  border-bottom: 1px solid #529952;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 50px;
  padding: 0 16px;
}
  header .menu-left {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 70px;
  }
  header #debug-buttons {
    display: none;
  }
  header #debug-buttons button {
    color: #715ec7;
  }
  header #debug-buttons .ddmenu {
    align-items: center;
    display: flex;
  }
    header #debug-buttons .ddmenu .ddgroup {
      border: 1px solid transparent;
      position: relative;
      text-decoration: none;
      width: 100%;
    }
      header #debug-buttons .ddmenu .ddgroup button {
        margin-right: 0;
      }
      header #debug-buttons .ddmenu .ddgroup:hover {
        background: #d8d2f5;
        border: 1px solid #8c85ae;
        cursor: pointer;
      }
        header #debug-buttons .ddmenu .ddgroup .ddsub {
          display: none;
          left: -1px;
          position: absolute;
          top: 100%;
          width: 100%;
        }
          header #debug-buttons .ddmenu .ddgroup .ddsub a {
            box-sizing: border-box;
            display: block;
          }
          header #debug-buttons .ddmenu .ddgroup .ddsub button {
            background-color: #e3e0f3;
            border: 1px solid transparent;
            border-radius: 0;
            height: 20px;
            padding: 5px;
            width: 26px;
          }
          header #debug-buttons .ddmenu .ddgroup .ddsub button:hover {
            background: #e1ddf7;
            border: 1px solid #8c85ae;
          }
          header #debug-buttons .ddmenu .ddgroup:hover .ddsub {
            display: flex;
            flex-direction: column;
          }
        @media screen and (max-width: 640px) {
          .ddmenu {
            flex-wrap: wrap;
          }
          .ddsub {
            position: static;
          }
        }
  header .title {
    font-family: 'Changa', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.1em;
    pointer-events: none;
    text-align: center;
    text-transform: uppercase;
  }
  @media (min-width: 768px) {
    header .title {
      font-size: 20px;
      letter-spacing: 0.01em;
    }
  }
  header .menu-right {
    display: flex;
    width: 70px;
    justify-content: flex-end;
  }

/*
 * GAME
 */
section#game {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px); /* whole screen except for header */
  margin: 0.5em auto 0;
  max-width: 500px;
  width: 100%;
}
  section#game #score-container {
    font-size: 1em;
    height: 25px;
    text-align: center;
  }
  section#game #score-container #score-total {
    font-weight: 700;
  }
  section#game #guess-container {
    align-content: center;
    align-items: center;
    /* background-color: #f9ffaa; */
    /* border: 1px solid #000; */
    display: flex;
    font-family: 'Changa', sans-serif;
    font-size: 3.1em;
    font-weight: 700;
    height: 45px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 1px;
    vertical-align: middle;
    word-break: break-word;
    word-wrap: break-word;
  }

  @media (min-width: 350px) {
    section#game #guess-container {
      font-size: 4em;
    }
  }

  @media (min-width: 768px) {
    section#game #guess-container {
      font-size: 5em;
    }
  }
    section#game #guess-container #guess {
      animation-duration: 700ms;
      /* background-color: rgb(255, 189, 189); */
      color: #364333;
      font-size: 1em;
      line-height: 0.7em;
      letter-spacing: 0.03em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      transition: all 50ms;
      top: 0;
      width: 100%;
    }
      section#game #guess-container #guess.valid {
        color: #46852b;
        letter-spacing: 0e.04em;
      }
        section#game #guess-container #guess.valid.first-guess {
          color: #23b62d;
        }

  section#game #lookup-container {
    /* background-color: rgb(176, 255, 186); */
    height: 30px;
    margin: 10px auto 0;
  }
    section#game #lookup-container #button-guess-lookup {
      display: none;
      height: 20px;
    }
    section#game #lookup-container #button-guess-lookup.show {
      display: block;
    }

  section#game #board-container {
    align-items: center;
    /* background-color: #ffc6c6; */
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-height: 310px;
    overflow: hidden;
  }
    section#game #board-container #board {
      /* background-color: #c6c7ff; */
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 5px;
      padding: 10px;
    }
      section#game #board-container #board .row {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
      }

  section#game #hint-container {
    display: inline-grid;
    grid-template-columns: 10% 80% 10%;
    justify-items: center;
    margin: 0 10px;
    padding: 0 10px 30px;
  }
    section#game #hint-container button {
      border: 1px solid transparent;
      float: left;
      padding: 5px;
    }
    section#game #hint-container button.not-a-button {
      background-color: transparent;
      color: #000;
      cursor: text;
    }
    section#game #hint-container button#button-hint {
      font-size: 1.5em;
      min-width: 50px;
    }
    section#game #hint-container button#button-hint-reset {
      display: none;
      font-size: 1em;
      min-width: 40px;
    }
    section#game #hint-container button#button-hint-reset.show {
      display: block;
    }
    section#game #hint-container button:hover:not([disabled]) {
      background-color: #888;
      border: 1px solid #111;
      color: #fff;
    }

  section#game #keyboard-container {
    margin: 0 8px;
    user-select: none; /* no selecting text */
  }
    section#game #keyboard-container .row {
      display: flex;
      margin: 0 auto 8px;
      /* Enable panning, pinch zoom, but not double-tap zoom */
      touch-action: manipulation;
      width: 100%;
    }
    section#game #keyboard-container button {
      border: 1px solid transparent;
      font-size: 20px;
      width: 100px;
    }
      section#game #keyboard-container button:last-of-type {
        /* last button in row shouldn't have right-margin */
        margin: 0;
      }
      section#game #keyboard-container button:hover:not([disabled]) {
        background-color: #888;
        border: 1px solid #111;
        color: #fff;
      }

#statistics {
  display: flex;
  padding-bottom: 10px;
}
  #statistics .statistic-container {
    flex: 1;
  }
    #statistics .statistic-container .statistic {
      align-items: center;
      display: flex;
      font-size: 36px;
      font-variant-numeric: proportional-nums;
      font-weight: 400;
      justify-content: center;
      letter-spacing: 0.05em;
      text-align: center;
    }
    #statistics .statistic-container .statistic-label {
      align-items: center;
      display: flex;
      font-size: 1em;
      justify-content: center;
      text-align: center;
    }

#settings .setting-row {
  align-items: center;
  border-bottom: 1px sold #666;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
  #settings .setting-row .text {
    padding-right: 8px;
  }
    #settings .setting-row .text .title {
      font-size: 18px;
      width: 150px;
    }
    #settings .setting-row .text .description {
      color: #444;
      font-size: 12px;
}
  #settings .setting-row .control .container {
    display: block;
    margin-left: 1em;
    width: 150px;
  }

.radio {
  margin: 0.2rem;
}
  .radio input[type=radio] {
    position: absolute;
    opacity: 0;
  }
    .radio input[type=radio] + .radio-label:before {
      background: #f4f4f4;
      border: 1px solid #b4b4b4;
      border-radius: 100%;
      content: "";
      cursor: pointer;
      display: inline-block;
      height: 1em;
      margin-right: 0.5em;
      position: relative;
      text-align: center;
      transition: all 250ms ease;
      top: 0;
      vertical-align: top;
      width: 1em;
    }
    .radio input[type=radio]:checked + .radio-label:before {
      background-color: #529952;
      box-shadow: inset 0 0 0 4px #f4f4f4;
    }
    .radio input[type=radio]:focus + .radio-label:before {
      outline: none;
      border-color: #529952;
    }
    .radio input[type=radio]:disabled + .radio-label:before {
      box-shadow: inset 0 0 0 4px #f4f4f4;
      border-color: #b4b4b4;
      background: #b4b4b4;
    }
    .radio input[type=radio] + .radio-label:empty:before {
      margin-right: 0;
    }

.switch {
  background-color: #444;
  border-radius: 999px;
  cursor: pointer;
  display: block;
  height: 20px;
  position: relative;
  vertical-align: middle;
  width: 32px;
}
  .switch[data-status='true'] {
    background-color: #529952;
  }
  .switch[data-status='true'] .knob {
    transform: translateX(calc(100% - 4px));
  }
  .switch .knob {
    background-color: #fff;
    border-radius: 8px;
    display: block;
    height: calc(100% - 4px);
    left: 2px;
    position: absolute;
    top: 2px;
    transform: translateX(0);
    transition: transform 0.3s;
    width: 50%;
  }
