header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 16px;
  height: 50px;
  border-bottom: 1px solid #529952;
}
header .title {
  font-size: 20px;
}

section#game {
  height: calc(100% - 50px);
  width: 100%;
}
section#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}
section#board-container #board {
  height: 350px;
  width: 350px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #000;
  text-transform: uppercase;
  user-select: none;
}
