/* MODAL */
.modal-dialog {
  align-items: center;
  background-color: var(--black);
  background-color: var(--shadow);
  border: none;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
  .modal-dialog * {
    box-sizing: border-box;
  }
  .modal-dialog.temp {
    background-color: transparent;
  }
  .modal-dialog.temp .modal-window {
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 8px;
    box-shadow: none;
    color: var(--black);
    pointer-events: none;
    position: absolute;
    top: 25%;
    width: fit-content;
  }

.modal-window {
  --animate-duration: 100ms;
  background-color: var(--white);
  border: 4px solid var(--base-color);
  border-top-width: 0;
  box-shadow: 0 0 0 4px rgb(0 0 0 / 15%), 0 0 16px rgb(0 0 0 / 25%);
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  margin: 0 1em;
  max-height: 95%;
  max-width: 500px;
  width: 90%;
}
  .modal-window.debug {
    border-color: var(--debug-color);
  }

.modal-title {
  align-items: center;
  background-color: var(--base-color);
  color: var(--white);
  display: flex;
  font-weight: 500;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
}
  .modal-title.debug {
    background-color: var(--debug-color);
  }

.modal-close {
  background: none;
  border: 0 none;
  color: var(--white);
  font-size: 26px;
  font-weight: inherit;
  font-family: inherit;
  height: auto;
  margin: 0;
  margin-left: auto;
  max-width: 26px;
}

.modal-text {
  margin: 10px 0;
  /* max-height: 500px; */
  overflow-y: auto;
  padding: 0 16px;
  width: 100%;
}
  .modal-text ul,
  .modal-text {
    line-height: 1.2;
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
    .modal-text ul ul {
      padding: 2px 10px;
    }
    .modal-text ul li {
      padding: 0;
    }
      .modal-text ul li span.solution-category {
        font-size: 20px;
        font-weight: 700;
      }
        .modal-text ul li span.solution-category + ul {
          background-color: var(--off-white);
          border: 1px solid var(--marker-color);
          margin-bottom: 10px;
          padding: 10px;
        }
          .modal-text ul li span.solution-category + ul li {
            margin-left: 0;
          }

  .modal-text dl dt {
    margin-left: 1em;
    min-height: 20px;
  }
  .modal-text dl dl {
    margin-left: 1em;
  }

.modal-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0 16px 0;
  padding: 0 10px;
}
  .modal-button-group button {
    font-weight: inherit;
    font-family: inherit;
  }

.modal-button {
  border: 0 none;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  text-decoration: none;
  width: fit-content;
  white-space: break-spaces;
}
  .modal-button:hover {
    box-shadow: inset 0 99px 0 rgba(0, 0, 0, 0.05);
    text-decoration: none;
  }
.modal-button-primary {
  background-color: var(--base-color);
  color: var(--white);
}
.modal-button-secondary {
  background-color: var(--vlight-color);
  color: var(--black);
}
.modal-button-neutral {
  background-color: var(--gray-dark);
  color: var(--black);
}
.modal-button-action {
  background-color: var(--action);
  color: var(--white);
}
.modal-button-mini {
  font-size: 12px;
  padding: 4px 12px;
}
.modal-button-small {
  font-size: 13px;
  padding: 6px 18px;
}
.modal-button-regular {
  font-size: 14px;
  padding: 8px 24px;
}
.modal-button-large {
  font-size: 16px;
  padding: 12px 32px;
}
.modal-button-giant {
  font-size: 20px;
  padding: 16px 36px;
}
.modal-button-hero {
  border-radius: 38px;
  font-size: 18px;
  padding: 16px 48px;
}
.modal-button-rounded {
  border-radius: 64px;
}

.modal-button-group.debug button.button-primary {
  background-color: var(--debug-color);
  color: var(--white);
}
.modal-button-group.debug button.button-secondary {
  background-color: var(--debug-color-secondary);
  color: var(--black);
}

.modal-text li.not-applicable {
  color: var(--disabled);
}
.modal-text li.not-applicable span.solution-category + ul {
  border-color: var(--disabled);
}
.modal-text li.full {
  color: var(--dark-color);
}
.modal-text li.full span.solution-category + ul {
  background-color: var(--vlight-color);
  border-color: var(--dark-color);
}

/* MODAL->STATISTICS */
.statistic-header {
  align-items: center;
  display: flex;
  font-size: 1.4em;
  font-variant-numeric: proportional-nums;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.05em;
  text-align: center;
}
.statistic-subheader {
  align-items: center;
  display: flex;
  font-size: 0.9em;
  font-variant-numeric: proportional-nums;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.05em;
  text-align: center;
}
.statistics {
  display: flex;
  padding-bottom: 10px;
}
  .statistics .statistic-container {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
    .statistics .statistic-container .statistic {
      align-items: center;
      display: flex;
      font-size: 36px;
      font-variant-numeric: proportional-nums;
      font-weight: 400;
      justify-content: center;
      letter-spacing: 0.05em;
      text-align: center;
    }
    .statistics .statistic-container .statistic-label {
      align-items: center;
      display: flex;
      font-size: 1em;
      justify-content: center;
      max-width: 85px;
      text-align: center;
    }

/* MODAL->SETTINGS */
#settings {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  #settings .setting-row {
    align-items: center;
    border-bottom: 1px solid #666;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
      #settings .setting-row:last-of-type {
        border-bottom: none;
      }
    #settings .setting-row .text {
      padding: 8px 8px 8px 0;
    }
      #settings .setting-row .text .title {
        font-size: 18px;
      }
      #settings .setting-row .text .description {
        color: #444;
        font-size: 12px;
      }
    #settings .setting-row .control {
      display: block;
      margin-left: 1em;
    }
